version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  gateway:
    build: ./gateway
    volumes:
      - ./data:/data
    depends_on:
      - mqtt

  device:
    build: ./device-simulator
    depends_on:
      - mqtt

